@use '../../styles/vars' as v;
@use '../../styles/mixins' as mix;

.modal-container {
  @include mix.flex-center;
  position: fixed;
  inset: 0;
  z-index: 4;

  .backdrop {
    background: rgba($color: v.$black, $alpha: .7);
    position: fixed;
    inset: 0;
    cursor: pointer;
  }

  .modal {
    @include mix.flex-column-center-gap(4rem);
    padding: 4rem;
    min-width: 40%;
    background: v.$root-background;
    border-radius: 1rem;
    position: relative;

    &-title {
      font-weight: 700;
      font-size: 200%;
    }

    .delete-confirmation {
      @include mix.flex-column-center-gap(2rem);

      &-buttons {
        @include mix.flex-gap(2rem);
      }
    }
  }
}