@use '../../styles/vars' as v;
@use '../../styles/mixins' as m;

@mixin button($border, $focus-border) {
  padding: .5rem 1rem;
  border: 2px solid $border;
  border-radius: .5rem;
  font-weight: 500;
  white-space: nowrap;
  cursor: pointer;
  transition: .1s;

  &:hover {
    border-color: $focus-border;
  }
}

.primary {
  @include button(#aaa, #666);
}