@use '../../styles/vars' as v;
@use '../../styles/mixins' as mix;

.themes {
  @include mix.flex-gap(4rem);

  .theme {
    @include mix.flex-column-center-gap(1rem);

    &-colors {
      width: 60px;
      height: 60px;
      border: 1px solid #222;
      border-radius: 50%;
      cursor: pointer;
      transition: box-shadow .2s;

      @mixin gradient($theme-color) {
        background: linear-gradient(45deg, v.$root-background 50%, $theme-color 50%);
      }

      &.Red {
        @include gradient(v.$red);
      }

      &.Blue {
        @include gradient(v.$blue);
      }

      &.current {
        box-shadow: inset 0 0 0 6px v.$primary;
      }
    }
  }
}