@use '../../styles/vars' as v;
@use '../../styles/mixins' as m;

.navbar {
  width: calc(100% - v.$root-padding * 2);
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  position: absolute;
  inset: .5rem 3rem auto auto;
  z-index: 1;

  &-container {
    display: flex;
    gap: 2rem;

    .link {
      @include m.link(#dbff73);
    }
  }
}