@use '../../styles/vars' as v;
@use '../../styles/mixins' as mix;

.navbar {
  padding: 0 2rem;
  width: calc(100% - v.$header-inset * 2);
  height: v.$header-height;
  background: v.$root-background;
  box-shadow: 0 2px 4px rgba($color: #000, $alpha: .4);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  inset: calc(v.$header-inset) auto auto calc(v.$header-inset);
  z-index: 4;

  &-container {
    display: flex;
    gap: 2rem;

    .link {
      padding: .5rem 1rem;
      border-radius: .5rem;
      font-weight: 500;
      @include mix.flex-center-gap(.5rem);
      position: relative;
      cursor: pointer;
      transition: .1s;

      &.active {

        p,
        .icon {
          color: v.$green;
        }
      }
    }
  }
}