@use './vars' as v;

@mixin button($background) {
  padding: .5rem 1rem;
  background: $background;
  border: 1px solid v.$root-border-color;
  font-weight: 400;
  white-space: nowrap;
  cursor: pointer;
}

@mixin link($background) {
  padding: .5rem 1rem;
  background: unset;
  border: 1px solid v.$root-border-color;
  font-weight: 400;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  cursor: pointer;

  &::before,
  &::after {
    content: '';
    height: 100%;
    position: absolute;
    inset: 0;
  }

  &::before {
    width: 150%;
    background: $background;
    border-right: 1px solid v.$root-border-color;
    translate: -120%;
    transform: skewX(-30deg);
    z-index: -1;
    transition: .5s;
  }

  &::after {
    width: 100%;
    background: #fff;
    z-index: -2;
  }

  &:hover,
  &.active {
    &::before {
      translate: -15%;
    }
  }
}