@mixin theme-colors($theme) {
  @if $theme =='Red' {
    --root-background: #fff;
    --primary: #ff6058;
    --active-link-background: #ffbaba;
  }

  @else if $theme =='Blue' {
    --root-background: #fff;
    --primary: #1d8ab1;
    --active-link-background: #babaff;
  }
}

:root {
  // default theme
  @include theme-colors('Red');

  &[theme='Red'] {
    @include theme-colors('Red');
  }

  &[theme='Blue'] {
    @include theme-colors('Blue');
  }
}