// AFFECTS:
// #root
// . page
// .toasts-container
$root-padding: 4rem;

// AFFECTS:
// #root::before
$root-border: calc($root-padding / 4);
$root-border-size: calc($root-padding / 2);

// AFFECTS:
// .navbar
// . page
$header-height: 4rem;

// AFFECTS:
// .navbar
$header-inset: calc($root-padding / 8);

// AFFECTS:
// #root
// .navbar
// .modal
$root-background: var(--root-background);
$root-color: #1b1b1b;

// AFFECTS:
// #root::before
$primary: var(--primary);

// AFFECTS:
// .user-card (SUPER_ADMIN)
$card-1-background: #f7e991;
// AFFECTS:
// .user-card (ADMIN)
$card-2-background: #dfa9a7;
// AFFECTS:
// .user-card (USER)
// .album-card
$card-3-background: #d7d7d7;

$hover-link-background: #d7d7d7;
$active-link-background: var(--active-link-background);

// AFFECTS:
// .input
// button
$input-height: 2.5rem;
$button-background: #fff;
$input-background: #fff;

// AFFECTS:
// Appearance page
$red: #ff6058;
$blue: #1d8ab1;

// AFFECTS:
// .toast-error
$error: #ff3e00;

// $green: #05AB61;