// AFFECTS:
// #root
// .toasts-container
$root-padding: 4rem;

// AFFECTS:
// #root::before
$root-border: calc($root-padding / 4);
$root-border-size: calc($root-padding / 2);

// AFFECTS:
// .navbar
$header-height: 4rem;
$header-inset: calc($root-padding / 8);

// AFFECTS:
// #root
// .modal
$root-background: #f1eee0;

// AFFECTS:
// color
// .primary (button)
// .backdrop (modal
$black: #1b1b1b;

// AFFECTS:
// #root::before
$red: #FF6058;

// AFFECTS:
// .toast-error
$error: #ff3e00;

// AFFECTS:
// .navbar .link
$green: #05AB61;