// AFFECTS:
// #root
// . page
// .toasts-container
$root-padding: 4rem;

// AFFECTS:
// #root::before
$root-border: calc($root-padding / 4);
$root-border-size: calc($root-padding / 2);

// AFFECTS:
// .navbar
// . page
$header-height: 4rem;

// AFFECTS:
// .navbar
$header-inset: calc($root-padding / 8);

// AFFECTS:
// .input
// button
$input-height: 2.5rem;

// AFFECTS:
// #root
// .navbar
// .modal
$root-background: var(--background);

$root-color: #1b1b1b;

$box1-background: #f7e991;
$box2-background: #dfa9a7;
$box3-background: #fcddb0;

$button-background: #fff;
$input-background: #fff;

$red: #FF6058;
$red-background: #f1eee0;

$blue: #1D8AB1;
$blue-background: #e0eef1;

// AFFECTS:
// color
// .backdrop (modal)
$black: #1b1b1b;

// AFFECTS:
// #root::before
$primary: var(--primary);
$primary-color: var(--primary-color);

// AFFECTS:
// .toast-error
$error: #ff3e00;

// AFFECTS:
// .navbar .link
$green: #05AB61;