@use '../../styles/vars' as v;
@use '../../styles/mixins' as mix;

$border-color: #aaa;

@mixin input {
  padding: .25rem .5rem;
  width: 100%;
  height: v.$input-height;
  background: #fff;
  border: 1px solid $border-color;
  border-radius: .5rem;
  font-family: inherit;
  outline: none;
  position: relative;
}

@mixin icon {
  padding: 0 .5rem;
  height: 2.5rem;
  background: #444;
  color: #fff;
  display: flex;
}

.input-label {
  width: 100%;
  @include mix.flex-column-gap(.5rem);

  p {
    margin-left: 1rem;
    font-weight: 400;
    font-style: italic;
  }

  .input {
    @include input;
  }

  .input-content {
    display: flex;
    gap: .5rem;

    &-icon {
      @include icon;
      border-radius: .5rem;
      cursor: pointer;
    }
  }
}

.search-bar {
  display: flex;
  justify-content: center;

  .input-search {
    width: 20rem;
    display: flex;
    gap: .5rem;
    position: relative;

    .input {
      @include input;
      padding-right: 3rem;
    }

    &-icon {
      @include icon;
      border-radius: 0 .5rem .5rem 0;
      position: absolute;
      inset: 0 0rem auto auto;
    }
  }
}