@use '../../styles/vars' as v;
@use '../../styles/mixins' as mix;

.album-card {
  width: 100%;
  max-width: 60rem;
  padding: 1rem;
  background: v.$card-3-background;
  border: 1px solid #aaa;
  border-radius: 1rem;
  @include mix.flex-gap(2rem);

  &>&-cover {
    width: 200px;
    height: 200px;
    border-radius: .5rem;
  }

  &-content {
    @include mix.flex-column-gap(2rem);
    justify-content: space-between;
    flex: 1;
  }

  &-footer {
    @include mix.flex-gap(2rem);
    justify-content: space-between;
  }

  &-content {
    &-title {
      font-weight: 600;
      font-size: 150%;
      font-style: italic;
    }
  }

  &-footer {
    display: flex;
    align-items: center;

    &-release {
      font-style: italic;
    }

    &-delete {
      color: v.$error;
      cursor: pointer;
    }
  }
}