@use '../../styles/vars' as v;
@use '../../styles/mixins' as mix;

.page {
  margin: v.$header-height 0;
  width: 100%;
  min-height: calc(100vh - ((v.$root-padding + v.$header-height) * 2));
  @include mix.flex-column-gap(4rem);

  &.isJustify {
    justify-content: center;
    align-items: center;

    .page-content {
      align-items: center;
    }
  }

  &-title {
    text-align: center;
    font-family: 'Playfair Display';
    font-weight: 700;
    font-size: 400%;
    font-style: italic;
    white-space: nowrap;
  }

  &-content {
    @include mix.flex-column-gap(2rem);
  }
}