@use '../../styles/vars' as v;
@use '../../styles/mixins' as mix;

.page {
  margin: v.$header-height 0;
  width: 100%;
  min-height: calc(100vh - ((v.$root-padding + v.$header-height) * 2));
  @include mix.flex-column-gap(4rem);

  &.settings {
    margin-left: 14rem;
    width: calc(100% - 14rem);

    .page-title {
      text-align: left;
    }
  }

  &.isJustify {
    justify-content: center;
    align-items: center;

    .page-content {
      align-items: center;
    }
  }

  &-title {
    text-align: center;
    font-family: 'Kalnia';
    font-weight: 500;
    font-size: 400%;
    font-style: italic;
  }

  &-content {
    @include mix.flex-column-gap(2rem);
  }
}