@use '../../styles/vars' as v;
@use '../../styles/mixins' as mix;

.page {
  margin: 4rem 0 0;
  min-height: 100%;
  @include mix.flex-column-center-gap(4rem);

  &-title {
    font-family: 'Playfair Display';
    font-weight: 700;
    font-size: 400%;
    font-style: italic;
    white-space: nowrap;
  }

  &-content {
    @include mix.flex-column-gap(2rem);
    align-items: center;
  }
}